.vkuiPanel__in {
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-start;
}

.vkuiFixedLayout--vertical-top {
  left: 0 !important;
  width: 100%;
}

.vkuiGroup--sizeX-none {
  width: 95%;
}

.vkuiPanel__in {
  align-items: stretch !important;}

.vkuiTabbarItem__in {
  align-items: center;
  padding: 25px 2px 2px;
}

.vkuiTypography--weight-2.vkuiTypography--weight-2.vkuiTypography--weight-2 {
  font-size: 20px;
}

.vkuiTabbar {
  height: 80px;
}

.vkuiTabbarItem__text {
  overflow: visible;
}

.gameInfo {
  position: relative;
  top: 120px;
}
.start-panel-width{
  width: 96.8%;
}


@media (max-width: 767.9px) {
  .vkuiGroup--sizeX-none {
    width: 80%;
  }
}
