.vkuiPanel__in {
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-start;
}

.vkuiFixedLayout--vertical-top {
  left: 0;
  width: 100%;
}

.vkuiGroup--sizeX-none {
  width: 95%;
}

@media (max-width: 767.9px) {
  .vkuiGroup--sizeX-none {
    width: 80%;
  }
}
