.vkuiPanel__in {
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-start;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.vkuiFixedLayout--vertical-top {
  left: 0;
  width: 100%;
}

.vkuiGroup--sizeX-none {
  width: 95%;
}

.start-panel-width {
  display: flex;
  align-content: flex-start;
  position: relative;
  left: 4px;
}

@media (max-width: 767.9px) {
  .vkuiGroup--sizeX-none {
    width: 80%;
  }
}
